@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('woff2 supports variations'),
    url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 900;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('woff2 supports variations'),
    url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('woff2-variations');
}