@import './fonts.scss';

* {
    font-family: Inter;
}

html, body, #__nuxt {
    height: 100%;
}

body {
    background-color: #f7f7f7;
    color: #252525;
}

.frame {
    width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;

    @media (min-width: 1280px) {
        width: 1250px;
    }
}
